body {
  background-color: #D9CAB4;
}

html, body {
  margin: 0px;
}

.menu_bar {
  background-color: #341708;
  height: 70px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu_option {
  background-color: #202020;
  color: white;
  height: 50px;
  width: 20%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Cinzel', serif;
}

.page{
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.paragraph_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlebox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}



h1 {
  color: #341708;
  font-family: 'Cinzel';
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
}

p {
  color: #341708;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
}
